@use "reset";

$base-size: 1rem;


body {
    max-width: min(80rem, 100vw - $base-size);
    margin-inline: auto;
}

nav > ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: $base-size;
}

picture > img {
    display: grid;
    max-width: 30%;
    height: auto;
}